@{
    var currentUser = SessionData.CurrentUser;
    var companyInfo = Configurations.GeneralSettings;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - tset</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/lite-blue.css" rel="stylesheet" />
    <link href="~/lib/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />

    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" />

    <link href="~/lib/devexpress/css/dx.common.css" rel="stylesheet" />
    <link href="~/lib/devexpress/css/dx.carmine.css" rel="stylesheet" />
    <link href="~/lib/npDatepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/lib/alertify/alertify.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-confirm/jquery-confirm.css" rel="stylesheet" />

    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/print.css" rel="stylesheet" />
</head>

<body>
    <div class="app-admin-wrap layout-sidebar-large">
        <div class="main-header">
            <div class="logo">
                <img src="~/images/gov-logo.jpg" alt="logo" />
            </div>
            <div class="menu-toggle">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="d-flex align-items-center">
                <h1>@companyInfo.ProductNameNp</h1>
            </div>
            <div class="m-auto"></div>
            @if(User.Identity.IsAuthenticated)
            {
                <div class="header-part-right">
                    <a class="text-muted"  href="#" onClick="supportContact()"style="cursor:pointer">
                        <b>
                            <i class="fas fa-headset"> सपोट सम्पर्क नम्बर</i>
                        </b>
                    </a>

                    <div class="dropdown">
                        <div class="user col align-self-end">
                            <img src="~/images/user-image.png" id="userDropdown" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown"  >
                                <div class="dropdown-header">
                                    <i class="i-lock-user m-2"></i> @currentUser.Name
                                </div>
                                <a class="dropdown-item" href="#!/user/passwordchange"><i class="fa fa-address-card"></i>पासवर्ड परिवर्तन </a>
                                <a class="dropdown-item" href="@Url.Action("logoff","user")"  ><i class="fas fa-lock" ></i>Sign Out </a>
                            </div>
                        </div>

                    </div>

                </div>
            }


        </div>
        <div id="nav-left">
            <partial name="sideMenu" />

        </div>

        <div class="main-content-wrap sidenav-open d-flex flex-column">
            <div data-area="page-title" class="page-title">
                <div class="breadcrumb">
                    <h1 data-title></h1>
                </div>
            </div>
            <div >
                @RenderBody()
            </div>
        </div>

    </div>
  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular/angular-route.min.js"></script>
    <script src="~/lib/angular-qr/qrcode.js"></script>
    <script src="~/lib/angular-qr/angular-qr.js"></script>

    <script src="~/lib/devexpress/js/dx.all.js"></script>
    <script src="~/lib/devexpress/js/dx.aspnet.data.js"></script>

    <script src="~/js/script.min.js"></script>
    <script src="~/js/sidebar.large.script.min.js"></script>
    <script src="~/lib/npDatepicker/js/sajan.nepaliFunctions.min.js"></script>
    <script src="~/lib/npDatepicker/js/v2.js"></script>
    <script src="~/lib/alertify/alertify.min.js"></script>
    <script src="~/lib/printThis/printThis.js"></script>
    <script src="~/lib/jquery-confirm/jquery-confirm.js"></script>
    <script src="~/js/common/information.js"></script>

    <partial name ="cms.js.cshtml"/>
   @*  <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function(){

    });
</script>